<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.gojay.nmid.dao.UserDao">

    <!--根据用户id查询用户记录-->
    <select id="getUserById" resultType="User" parameterType="Integer">
        <!-- 具体的sql -->
        SELECT id, userName, gender, password, nick_name, qq_num, telephone_num, profile_pic, ability, class, control, college
        FROM user WHERE id = #{id}
    </select>

    <!--将用户信息写入user表-->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(id, userName, gender, password, nick_name, qq_num, telephone_num, profile_pic, ability, class, control, college)
        VALUES (#{id}, #{userName}, #{gender}, #{password}, #{nickname}, #{qqNum}, #{telephoneNum}, #{profilePic}, #{ability}, #{classNum}, #{control}, #{college})
    </insert>
</mapper>